
package-lock.json
/homepage/
/resources/
/sales/
/KB.repo/

# folders
/node_modules
/thinkdj

# builds
/out
/dist
/builds

# laravel
/public/hot
/public/storage
/storage/*.key
/vendor

# editors etc
/.git
/.idea
/.vagrant

# misc
Homestead.json
Homestead.yaml
npm-debug.log

# files
*.dmg
*.exe
*.zip
*.deb

