@import "./../config.css";
@import "assets/css/reset.css";

/* FONT */
@font-face {
    font-family: 'sofia_prolight';
    src: url('assets/fonts/sofiapro_light_macroman/SofiaProLight-webfont.eot');
    src: url('assets/fonts/sofiapro_light_macroman/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/sofiapro_light_macroman/SofiaProLight-webfont.woff2') format('woff2'),
    url('assets/fonts/sofiapro_light_macroman/SofiaProLight-webfont.woff') format('woff'),
    url('assets/fonts/sofiapro_light_macroman/SofiaProLight-webfont.ttf') format('truetype'),
    url('assets/fonts/sofiapro_light_macroman/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background: transparent;
    width: 100%;
    height: 100%;
    border:0;
    padding:0;
    margin:0;
}
html { }
body {
    font: 15px/15px "sofia_prolight", "Proxima Nova", "Open Sans", Helvetica, Arial, sans-serif;
    color: #595959;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 800px;
    max-height: 390px;
    overflow: hidden;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.18);
}

.animated { transition: all 0.25s ease-out; }

.app-container {
    margin: 0;
    padding: 30px 15px 20px 30px;
    box-shadow: none;
    border: 1px solid #b1b1b1;
    resize: none;
    border-radius: var(--app-border-radius);
    background-color: var(--color-light-background);
}

/* DARK
#1C192B to #4146A9
blue: #76B6F7
bg #555AC8
color; #6B6A8F
*/

/* Draggable */
html {
    -webkit-app-region: no-drag;
    background: transparent;
    text-rendering: optimizeLegibility;
    /* Better Rendering */
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
.draggable {
    -webkit-user-drag: element;
    user-drag: element;
    app-region: drag;
    -webkit-app-region: drag;
    user-select: auto;
    cursor: grab !important;
}

/* Disable User Selection */
#container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    overflow-x: hidden;
}


.splash-logo {
    padding: 0;
    border-radius: 5px;
    width: 86px;
    margin: 30px -3px;
    object-fit: cover;
    object-position: top;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:window-inactive { background: #BBB; }
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

h1 {
    line-height: 1em;
    font-size: 2em;
    width: 100%;
    margin-top: -1px;
    color: var(--color-primary);
}
h1 .tagline {
    color: #777;
    display: inline-block;
    font-size: 0.5em;
    font-weight: 300;
    padding: 0 0 0 5px;
}

h1.appHeading {
    margin: -30px -30px 0;
    padding: 20px 25px;
    display: block;
    background: rgba(0,0,0,0.0);
    max-width: 97%;
    line-height: 1.1;
    overflow: hidden;
    z-index: 0;
    transition:all 0.25s ease-out;
    pointer-events: all;
    cursor: grab !important;
}
h1.appHeading:hover {
    background: rgba(0,0,0,0.04);
}

#loadingIndicator {
    position: absolute;
    top: 0;
    right: 70px;
    display: none;
    z-index: 105;
}
#loadingIndicator img {
    width: 42px;
    height: 42px;
    max-width: 42px;
    max-height: 42px;
}

#intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff url("assets/images/bgman.png") no-repeat right bottom;
    background-size: contain;
    text-align: left;
    padding: 30px;
    top:0; left:0;
    z-index: 101;
    margin:0;
    display: none;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
}

/* 'transparent' if window background has alpha */
select {
    background: #FFF;
}


/* isTab/isHideable */
.hidden {
    display: none;
}
.clearfix {
    clear: both !important;
}

/* BUTTON */

nav a {
    position: relative;
    display: inline-block;
    margin: 5px;
    outline: none;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .86px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: .86em;
    text-align: center;
}
nav a:hover,nav a:focus {outline: none}

/* Effect 5: same word slide in */
.fx-text-slideIn { }
.fx-text-slideIn a {
    overflow: hidden;
    padding: 0 4px;
    height: 1em;
}

.fx-text-slideIn a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.fx-text-slideIn a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 400;
    color : var(--color-primary);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.fx-text-slideIn a:hover span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}


/* Horizontal Grey Blocks */
.hblock-info {
    font-size: 15px;
    padding: 10px 0;
    margin: 12px 0 0;
    text-align: center;
    background: rgba(0,0,0,0.035); /* grey: #efefef; yellow: fffae3 */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--app-border-radius);
}
.hblock-update {
    background: rgba(0,0,0,0.035);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border-radius: var(--app-border-radius);
}
.hblock-ico {margin: 0 5px 0 0; line-height: 22px;}

.button-action {
    padding: 1px 10px;
    line-height: 13px;
    text-align: center;
    display: block;
    cursor: pointer;
    min-width: 86px;
    width: auto;
    border:0;
}
.button-action.restart {
    min-width: 26px;
    padding: 2px;
    line-height: 0;
}

.button-action.restart:hover {
animation: spin .5s 1 linear;
}
@keyframes spin {
    0%  { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}


/* Common button styles */
.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
    color: #37474f;
    border-color: #37474f;
}
.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}
.bg-3 .button {
    color: #fff;
    border-color: #fff;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}
.button--size-m {
    font-size: 16px;
}
.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button--text-thin {
    font-weight: 300;
}
.button--text-medium {
    font-weight: 500;
}
.button--text-thick {
    font-weight: 600;
}
.button--round-s {
    border-radius: 5px;
}
.button--round-m {
    border-radius: 15px;
}
.button--round-l {
    border-radius: 40px;
}

/* Borders */
.button--border-thin {
    border: 1px solid;
}
.button--border-medium {
    border: 2px solid;
}
.button--border-thick {
    border: 3px solid;
}

/* Wapasha */
.button.button--wapasha {
    background: #37474f;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.button--wapasha.button--inverted {
    background: #fff;
    color: #37474f;
}
.button--wapasha::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #3f51b5;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha.button--inverted::before {
    border-color: #7986cb;
}
.button--wapasha:hover {
    background-color: #fff;
    color: #3f51b5;
}
.button--wapasha.button--inverted:hover {
    background-color: #37474f;
    color: #7986cb;
}
.button--wapasha:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

/* Content Widths and Sizes */

#container-content {
    display: grid;
    grid-template-columns: 220px auto;
    grid-gap: 20px;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px auto 0;
}

#content {
    width: 100%;
    min-width: 513px;
    box-sizing: border-box;
    height: 100%;
    min-height: 250px;
    max-height: 290px;
}

#content table {
    width: 100%;
}

/* isHideable = The tab-able sections */
.isHideable {
    width: 100%;
    box-sizing: border-box;
}

.ani-fx {
    animation: 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) slide-in-bck-center;
    animation: slide-in-bck-center 0.7s;
    transition: all .3s ease-out;
    opacity: 1;
}
@keyframes slide-in-bck-center
{
    0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}
    to{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}
}

.modes {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0;
}
.modeBlock {
    width:100%;
    text-align: center;
}
.h3Mode {
    display: block;
    padding: 18px 0 7px;
    margin: 0;
}
/* MENU */
/* view-source:http://www.ourtuts.com/tutorials/vertical-menu/ */


ul.menu-main {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.menu-main li a {
    width: 100%;
    padding-left: 20px;
    height: 53px;
    line-height: 53px;
    border-radius: var(--pill-border-radius);
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #686868;
    border-left: 3px solid transparent;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
}

.menu-main li a:hover {
    background: rgba(0,0,0,0.035);
    border-left-color: #ddd;
    color:var(--color-primary);
    transition: all 0.3s ease-out;
}
.menu-main li a:hover i {
    color:var(--color-primary);
}
/*
.menu-main {
-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);
}
.menu-main li a.profile {border-left:5px solid #008747;}.menu-main li a.messages {border-left:5px solid #fecf54;}.menu-main li a.settings {border-left:5px solid #cf2130;}.menu-main li a.logout {border-left:5px solid #dde2d5;}

.menu-main li:first-child a:hover, .menu-main li:first-child a,
.menu-main li:last-child a:hover, .menu-main li:last-child a {}
*/

.menu-main i {
    margin-right:15px;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
    font-size: 16px;
    font-weight: 300;
}

.menu-main .update-highlight {
    font-size: 11px;
    line-height: 3px;
    background: var(--color-primary);
    padding: 6px 7px;
    border-radius: 10px;
    font-style: normal;
    color: #fff;
    height: 16px;
    margin-left: 15px;
}

.menu-main li.isActive a {
    border-left-color: var(--color-primary);
}



/* Homepage Stats */
#stats {
    padding: 0 10px 0 110px;
    margin: 20px 0 10px;
    background:transparent url(assets/images/badges/thumbup_s.png) no-repeat left center;
    min-height: 96px;
    line-height: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
#stats h3, #stats p {
    line-height: 1.45;
    padding: 0;
    margin: 0;
}
#stats h3 {
    display: block;
    padding: 0 0 6px 0;
    text-transform: capitalize;
}
#stats.virgo {
    background: url(assets/images/badges/heart_s.png) no-repeat left center;
}
#stats.star {
    background: url(assets/images/badges/star_s.png) no-repeat left center;
}

.align-1 {
    text-align: center;
    padding-top: 10px
}
.f-w-600 {font-weight: 600}
.col-dark {
    color: #888
}

.cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: left;
}
.cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700;
}
.splash-copyright {
    margin: 0 0 0 5px;
    display: block;
    opacity: 0.54;
}
.cd-intro {
    width: 100%;
    max-width: 768px;
    margin: 0 0 5px 10px;
}
.cd-intro h1 {
    font-size: 3.4em;
    line-height: 0.25em;
}
.cd-headline {
    font-size: 3rem;
    line-height: 1em;
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: -4px;
    top: 0;
    text-align: left;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* --------------------------------

xpush

-------------------------------- */
.cd-headline.push b {
    opacity: 0;
}
.cd-headline.push b.is-visible {
    opacity: 1;
    -webkit-animation: push-in 0.25s;
    -moz-animation: push-in 0.25s;
    animation: push-in 0.25s;
}
.cd-headline.push b.is-hidden {
    -webkit-animation: push-out 0.25s;
    -moz-animation: push-out 0.25s;
    animation: push-out 0.25s;
}

@-webkit-keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes push-in {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}
@-moz-keyframes push-out {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -moz-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
}
@keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}


/* Fullscreen */
.app-break-window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    resize: none;
    overflow: auto;
    text-align: center;
}

/* Options */
.opTable {
    width: auto;
    min-width: 480px;
    font-weight: 500;
}
.second-opTable {
    margin-top: 15px;
}
.opTable tr:nth-child(2n) { background-color: rgba(0,0,0,0.035) }
.opTable tr {  }
.opTable tr td {
    display: inline-block;
    padding: 10px;
    width: 49.25%;
}

#app-settings {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 275px;
}

/* Data Block */
.dataBlocks {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.dataBlock {
    width: 100%;
    padding:0;
    box-sizing: border-box;
}
.dataBlock .dbw {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dataBlock .time {
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 1.64rem;
    font-weight: 700;
    display: inline-block;
    line-height: 64px;
    text-align: center;
    /* text overflow fix (just in case) */
    width: 100px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 4px solid var(--color-status-default);
    border-radius: var(--pill-border-radius);
}
.dataBlock .time.active.paused {
    border-color: var(--color-status-paused) !important;
    color: var(--color-status-paused);
}
.dataBlock .info {
    display: inline-block;
    line-height: 10px;
    width: auto;
}
.dataBlock .info p {
    line-height: 10px;
}
.meta-time {
    font-size: 14px;
    color: #999;
    font-weight: 400;
}
.blink182 {
    animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* Stats List */
.ul-stats {
    padding: 24px 0 0 12px;
    margin: 0;
}
.ul-stats li {
    display: block;
    padding: 10px 0;
    list-style: circle;
}
.ul-stats li small {
    display: block;
    padding: 4px 0 0;
    color: #777;
}
.ul-stats .icon {
    float: left;
    font-size: 33px;
    margin-right: 12px;
    color: var(--color-primary);
    opacity: 0.75;
}
.ul-stats .icon-bold {
    font-weight: 600;
}

span.red { color: var(--color-status-bad) }
span.green { color: var(--color-status-good) }


/* Default styles */
a {
    text-decoration: none;
    color: var(--color-secondary);
}
a.primary {
    color: var(--color-primary);
}
a:hover {
    color: #333;
}
a.faded {
    color: #888
}

.tabIco {
    padding-right: 7px;
    line-height: 6px;
}
.tabHighlight {
    font-weight: 700;
    color: var(--color-primary);
}

/* Updates' block */
#uppdates-container {
    height: 100%;
    min-height: 180px;
    max-height: 236px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#messageCenter {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#messageCenter li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px 10px 10px 15px;
}
#messageCenter li:nth-child(2n+1) {
    background-color: rgba(0,0,0,0.035);
}
#messageCenter .title {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary);
}
#messageCenter .date {
    display: inline-block;
    padding-left: 5px;
    font-size: 0.86rem;
    font-weight: 500;
    opacity: 0.75;
}
#messageCenter .desc {
    display: block;
    color: rgba(110,110,110,0.95);
    padding: 10px 0 0;
    font-size: 0.86rem;
    line-height: 1.25rem;
    font-weight: 500;
}
#messageCenter .link {
    display: inline-block;
    padding: 5px 5px 5px 0;
    font-size: 0.86rem;
    line-height: 1.15rem;
    font-weight: 500;
}

/* Author */
#author {
    display: flex;
    align-content: flex-start;
    justify-items: center;
    padding: 0;
    margin: 0;
    background-color: #f9f0ff8f;
    border-radius: var(--app-border-radius);
}
#auth-img {
    display: flex;
    align-content: center;
    justify-items: center;
}
#auth-img img {
    width: auto;
    height: 64px;
    border-radius: 5px;
    margin-right: 20px;
    object-fit: contain;
    object-position: center;
}
#auth-bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#auth-bio a {
    display: inline-block;
    font-weight: 400;
    margin: 0 6px;
    font-size: 0.9rem;
}
#auth-bio h3, #auth-bio p {
    margin: 0 0 5px;
    padding: 0;
    line-height: 24px;
    display: block;
    font-weight: 400;
}
#auth-bio h3 {
    font-weight: 600;
}

.bordered {
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: var(--app-border-radius);
}

/* Controls */

.app-window-controls {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px 5px 10px;
    background: rgba(0,0,0,0.05);
    border: solid rgba(0,0,0,0.125);
    border-width: 0 0 1px 1px;
    border-radius: 0;
    border-bottom-left-radius: 6px;
}
.app-window-controls > a {
    position: relative;
    float: left;
    margin: 0 1px;
    text-shadow: none;
    font-size: 12px;
    padding:5px;
    cursor: pointer;
}
.app-window-controls > a:hover {
    color: #333;
    background: #ffffff ;
}
.app-window-controls a.draggable {
    pointer-events: all !important;
    cursor: grab !important;
}

/* App-specific stuff (Refreshie alone) */
#refreshie-stuff {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px;
    font-weight: 500;
    text-align: left;
    line-height: 1.3;
    color: #777;
}
#refreshie-stuff .head {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    margin: 12px 0 0;
    color: #000;
    text-align: right;
    opacity: 0.19;
    font-size: 1.4rem;
    text-transform: lowercase;
}
#refreshie-stuff .img, #refreshie-stuff img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    object-fit: cover;
}
#refreshie-stuff img path {
    color: var(--color-primary);
    fill: var(--color-primary);
    stroke: var(--color-primary);
}
#refreshie-stuff p {
    font-weight: 500;
    display: block;
    padding: 0;
    margin: 10px 0 0;
}
#refreshie-stuff em { font-weight: 500; }
#refreshie-stuff a { font-weight: 500; color: var(--color-primary) }
#refreshie-stuff a:hover { font-weight: 600 }
/* / App-specific stuff (Refreshie alone) */

.dont-respond {
    pointer-events: none;
    user-select: none;
}
.do-respond {
    pointer-events: auto !important;
    user-select: auto !important;
}

/* Monk vs Sgt */
/* Selection */

img.radio-select-img-item {
    cursor: pointer;
    width: 200px;
    padding: 12px;
    border-radius: var(--pill-border-radius);
    border-left: 4px solid white;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
}
img.radio-select-img-item.item-checked {
    background: rgba(0,0,0,0.045);
    border-color: var(--color-primary);
}
img.radio-select-img-item:hover,
img.radio-select-img-item.item-checked:hover {
    background: rgba(0,0,0,0.045);
}

/* Select Boxes */
select {
    padding: 4px 8px;
    border: 1px solid #D3CFC8;
    border-radius: 0;
}
select:hover, select:focus, select:active {
    border-radius: 0;
}
select:hover {
    border-color: var(--color-primary);
}

/* iCheck plugin Square skin
----------------------------------- */
.icheckbox_square,
.iradio_square {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(assets/images/icheck_grey.png) no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox_square { background-position: 0 0; }
.icheckbox_square.hover { background-position: -24px 0; }
.icheckbox_square.checked { background-position: -48px 0; }
.icheckbox_square.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square.checked.disabled { background-position: -96px 0; }
.iradio_square { background-position: -120px 0; }
.iradio_square.hover { background-position: -144px 0; }
.iradio_square.checked { background-position: -168px 0; }
.iradio_square.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square.checked.disabled { background-position: -216px 0; }
/* Retina Display / HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square,
    .iradio_square {
        background-image: url(assets/images/icheck_grey@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}


.tab-horizontal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 20px;
}

.tab-horizontal a {
    display: block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #555;
    border-radius: var(--pill-border-radius);
    font-weight: 500;
    transition: all 0.25s ease-out;
    cursor: pointer;
}
.tab-horizontal a:first-child {
    margin-left: 0;
}
.tab-horizontal a.isActive {
    background: var(--color-primary);
    color: #FFF;
}
