
.break-meta {
    text-align: left; float: left; padding-left: 10px;
}
.break-title {
    padding: 0 0 5px; margin: 20px 0 10px; font-size: 26px;
}
.break-desc {
    padding:0; margin:0; color: #888
}
.close-in {
    text-align: right; float: right; padding: 31px 0; line-height: 15px;
}

.t-a-c { text-align: center }
.p-r-10 { padding-right: 10px }
.br-img { width: 100%; max-width: 600px; margin: 0 auto; }
