:root {
    --color-primary: #ea4f35;/* green: 94BA0B --- orange: ea4f35;*/
    --color-secondary: #1890e3; /* blue:1890e3 */
    --app-border-radius: 2px;
    /* Light Theme */
    --color-light-background: #FFF;

    --color-status-good: #94BA0B;
    --color-status-bad: #F06E5C;
    --color-status-paused: #daa520; /* goldenrod */
    --color-status-default: #e4e4e4;
}
